# Dependencies
/node_modules/

# Generated reports and charts
/charts/
/reports/

# Build artifacts
/dist/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

# Coverage directory used by tools like istanbul
/coverage/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

